@page "/"
@using BlazorServerProject.Pages.ContactCompanents



<h1>Contacts</h1>
<ContactListComponent Contacts="contacts">
    <LoadingContacts>
        <span style="background: greenyellow">Contacts are loading ...</span>
    </LoadingContacts>
    <EmptyContacts>
        <span style="background: red">No contacts to display</span>
    </EmptyContacts>
</ContactListComponent>
<br/>
<MyTextInput  @attributes="@(new Dictionary<string, object>
                                {
                                    {"disabled","disabled"},
                                    {"placeholder","contact name"},
                                    {"type","text"}
                                })"></MyTextInput>

@code
{


    private List<Contact> contacts;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        //contacts = new List<Contact>();
        contacts = new List<Contact>
        {
            new Contact()
            {
                FirstName = "Azar",
                LastName = "Imanguliyev",
                Email = "azar@test.com",
                Info = "He is very good boy"
            },
            new Contact()
            {
                FirstName = "Tehmin",
                LastName = "Salmanov",
                Email = "tehmin@test.com",
                Info = "I think he is not bad guy"
            }
        };
        base.OnInitializedAsync();
    }
}
